layout: index
description: Miox is a fast, simple & powerful router/middleware framework powered by Node.js.
subtitle: Modern Infrastructure Of Complex SPA
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 轻量
      p.intro-feature-desc 空项目打包体积170K+，Miox仅打包体积40K+，轻量的体积大小完成更多的逻辑。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-sun-o
      h3.intro-feature-title 高效
      p.intro-feature-desc 基于尽可能最大限度复用页面的原则，采用缓存算法优化性能。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-check
      h3.intro-feature-title 稳定
      p.intro-feature-desc 代码覆盖率达到90%，基本覆盖所有场景，稳定项目运行。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plug
      h3.intro-feature-title 强大
      p.intro-feature-desc Miox提供强大的插件支持，满足用户多变的需求。方便的扩展API接口，随心所欲驾驭整个项目。